.address-short {
  inline-size: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

@media screen and (min-width: 400px) {
  .address-short {
    inline-size: 180px;
  }
}

@media screen and (min-width: 440px) {
  .address-short {
    inline-size: 220px;
  }
}

@media screen and (min-width: 500px) {
  .address-short {
    inline-size: 280px;
  }
}

@media screen and (min-width: 520px) {
  .address-short {
    inline-size: auto;
  }
}
