.details-transaction,
.details-block {
  border-radius: 0;
  border-width: 0;

  .q-item {
    padding-left: 0;
    padding-right: 0;
  }

  .id-section {
    .q-item__label {
      word-break: break-word;
    }
  }

  .timestamp {
    font-size: 0.75rem;
    opacity: 0.5;
    margin-left: 0.5rem;
  }
}
