.mobile-navigation {
  padding: 0.25rem 0;

  .q-btn {
    text-transform: none;
    text-align: center;
    padding: 0.25rem 0;

    .q-icon.on-left {
      margin-right: 0;
    }

    > span {
      display: block;
      width: 100%;
      font-weight: 400;
      font-size: 0.6875rem;

      @media screen and (min-width: 1024px) {
        font-size: 0.8125rem;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.mobile-tab-page {
  .q-page-sticky {
    z-index: 1000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .q-tab__indicator {
    width: 20%;
    margin: 0 auto;
  }
}
