.page--mobile-chain {
  .search-view-table {
    .q-table {
      thead tr,
      tbody.q-virtual-scroll__content td {
        padding: 0 0.5rem;
      }
    }

    .attribute-wrapper--transaction {
      span {
        inline-size: calc(50px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        padding-top: 0.35rem;
      }
    }

    @media screen and (min-width: 500px) {
      .attribute-wrapper--transaction {
        span {
          inline-size: 100px;
        }
      }
    }

    @media screen and (min-width: 520px) {
      .q-table {
        thead tr,
        tbody.q-virtual-scroll__content td {
          padding: 0 1rem;
        }
      }

      .attribute-wrapper--transaction {
        span {
          inline-size: 200px;
        }
      }
    }

    .attribute-wrapper--rewards-group {
      padding: 0.75rem 0;
      white-space: pre-wrap;

      > div {
        width: 100%;
      }
    }
    .attribute--blocks-produced {
      color: grey;
    }
  }
}
