//Extra Small	xs	0px	599.99px
//Small	sm	600px	1023.99px
//Medium	md	1024px	1439.99px
//Large	lg	1440px	1919.99px
//Extra Large	xl	1920px	Infinity

.search-card,
.search-card-large,
.tabs-card {
  width: 100%;
}

.table-card {
  width: 100%;

  .q-card__section--vert {
    padding: 0;
  }
}

.koiner-topbar-page {
  padding-top: 2.55rem !important;
  padding-bottom: 0 !important;
}

.koiner-topbar {
  left: 0;
}

.q-drawer {
  .q-item__section--avatar {
    .q-item__label {
      display: none;
    }
  }
}

.q-drawer.q-drawer--mini.fixed {
  .q-item__section--avatar {
    .q-item__label {
      display: block;
    }
  }
}

.q-card {
  font-family: 'Roboto Mono', serif !important;

  .text-overline {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.search-card-large,
.tabs-card {
  > .q-card__section:first-child {
    padding-top: 4px;
  }
  .q-tab-panel {
    padding: 1rem 0.5rem 0;
    overflow: hidden;
  }
}
.search-card-large,
.search-card {
  > .q-card__section:first-child {
    padding-top: 8px;
  }

  .search-card-content {
    padding: 1rem 0.5rem 0;
  }

  .text-overline {
    font-size: 0.875rem;
    line-height: 1.715em;
    font-weight: 500;
    padding: 0.125rem 1rem 0;
    margin-bottom: 7px;
  }
}
