.koiner-topbar {
  z-index: 999;
  background: #ffffff;
  border-bottom: 1px solid #edeae9;

  .q-tab {
    text-transform: none;

    &:first-child {
      margin-left: 0;
    }

    &:focus,
    &.q-manual-focusable--focused,
    &:hover {
      > .q-focus-helper {
        opacity: 0 !important;
      }
    }

    .q-tab__label {
      font-size: 0.875rem;
      color: #555555;
    }

    .q-tab__indicator {
      //background: $primary;
    }
  }

  .topbar-icon {
    font-size: 4rem;
    position: absolute;
    left: 1rem;
    top: 10px;
    color: lighten($primary, 35%);
  }

  .topbar-header {
    min-height: 2.25rem;
  }

  .selected-item {
    line-height: 1;
    display: inline-block;
    margin-top: 1.25rem;
    font-size: 1.325rem;
    font-weight: bold;
  }

  .q-tab--active {
    .q-tab__label {
      //color: $primary;
    }
  }

  .action-menu,
  .favorite-icon {
    transform: translateY(-2px);
  }

  .favorite-icon {
    color: #ffcf21;
    margin-left: 0.5rem;
  }

  // Responsiveness
  top: 2.75rem;
  padding: 0;
  min-height: 2.375rem;

  .topbar-icon {
    display: none;
  }

  .topbar-header {
    display: none;
  }

  .q-tab {
    min-height: 40px;

    .q-tab__label {
      letter-spacing: 0.1rem;
    }
  }

  @media screen and (min-width: 1024px) {
    top: 2.75rem;
    padding: 0 1rem 0 6.5rem;
    min-height: 4.375rem;

    .topbar-header {
      display: block;
    }

    .topbar-icon {
      display: block;
    }

    .q-tab {
      margin: 0 1rem;
      padding: 0;
      min-height: 36px;

      .q-tab__label {
        letter-spacing: initial;
      }
    }
  }
}
