.page--network {
  @media screen and (min-width: 1440px) {
    .tabs-card {
      max-width: calc(60% - 24px);
    }

    .search-card {
      max-width: calc(40% - 24px);

      .search-view-table {

        .attribute-wrapper--address {
          span {
            inline-size: calc(190px) !important;
          }
        }
      }
    }
  }

  .attribute--blocks-produced {
    color: grey;
  }
}
