a {
  text-decoration: none;
}


.divider--extra-small,
.divider--small {
  position: relative;
  margin: 0 14px !important;
}

.search-bar {
  width: 300px;
  display: inline-block;
  transform: translateX(calc(50vw - 150px));

  .q-field__control {
    height: 28px !important;

    .q-field__native {
      padding: 0;
      line-height: 1;
    }
    .q-field__label {
      top: 5px;
      font-size: 0.75rem;
    }
  }
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(221, 221, 221, 0.3);
  border-radius: 6px;
}

/* Handle */
.q-scrollarea__thumb--v,
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  width: 5px;
}

.truncated-id {
  max-width: 171px !important;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-filter-button {
  border-radius: 100%;
  padding: 4px;
  width: 28px !important;
  height: 28px !important;
}

.tabs-card {
  .q-tab__label {
    text-transform: none;
  }
}

.layout--mobile .page--mobile-tokenize,
.layout--desktop .page--tokens {
  .tab--mobile-table .search-view-table {
    th:nth-of-type(3),
    td:nth-of-type(3) {
      text-align: left;
    }
  }
}

.search-dialog-results {
  .q-chip {
    color: #000000;
    font-size: 0.75rem !important;
  }
}

.page--mobile-tokenize,
.page--tokens {
  .q-table td:first-of-type {
    vertical-align: middle !important;
  }
}

.page--tokens {
  .liquidity-pools {
    th:last-of-type,
    td:last-of-type{
      display: none;
    }
  }
}

// Color schemes
@import 'schemes/light';
@import 'schemes/dark';

// Site general
@import 'includes/site/header';
@import 'includes/site/footer';
@import 'includes/site/drawer';

// Components
@import 'includes/ticker';

@import 'includes/topbar';
@import 'includes/table';
@import 'includes/dashboard';
@import 'includes/form-dialog';
@import 'includes/stats-card';

@import 'icons/icons';

@import 'pages/block-producers';
@import 'pages/ecosystem';
@import 'pages/home';

@import '../../apps/mobile/css/mobile';
@import '../../apps/desktop/css/desktop';
