.layout--desktop {
  min-width: 1024px !important;

  @import 'includes/stats-card';
  @import 'search/table';

  @import '../../mobile/css/includes/tab--mobile-table';
  @import '../../mobile/css/search/network-tables';
  @import '../../mobile/css/pages/mobile-network';

  .tab--mobile-table,
  .tab--mobile-network {
    .q-table--dark .q-table__bottom,
    .q-table--dark thead,
    .q-table--dark tr, .q-table--dark th, .q-table--dark td {
      border-color: rgba(255, 255, 255, 0.12) !important;
    }
    min-height: auto !important;
  }

  .tab--mobile-network {
    .search-view-table {
      .attribute-wrapper--address {
        span {
          height: 1.125rem;
          inline-size: auto !important;
        }
      }
    }
  }

  .q-table--dark .q-table__bottom, .q-table--dark thead,
  .q-table--dark tr, .q-table--dark th, .q-table--dark td {
    border-color: rgba(255, 255, 255, 0.12) !important;
  }

  .koiner-logo {
    position: absolute;
    left: 0.75rem;
    top: 0.375rem;
  }

  .koiner-topbar {
    left: 65px;
  }

  .q-page {
    padding: 36px 36px;
    margin-top: -18px;
    margin-left: -18px;
    > * {
      margin-top: 18px;
      margin-left: 18px;
    }
  }

  .koiner-topbar-page {
    padding-top: 6.25rem !important;
  }

  .table-card {
    .q-card__section--vert {
      padding: 16px;
    }
  }

  @media screen and (min-width: 1440px) {
    .koiner-topbar-page {
      padding-top: 7.5rem !important;
    }

    .search-card-large,
    .tabs-card {
      max-width: calc(66.66% - 18px);
    }

    .search-card {
      max-width: calc(33.33% - 18px);
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 1919.99px) {
  }

  @media screen and (min-width: 1920px) {
  }

  .q-card {
    font-family: 'Roboto Mono', serif !important;

    .text-overline {
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  .search-card-large,
  .tabs-card {
    > .q-card__section:first-child {
      padding-top: 4px;
    }
    .q-tab-panel {
      padding: 1rem 0.5rem 0;
      overflow: hidden;
    }
  }
  .search-card-large,
  .search-card {
    > .q-card__section:first-child {
      padding-top: 8px;
    }

    .search-card-content {
      padding: 1rem 0.5rem 0;
    }

    .text-overline {
      font-size: 0.875rem;
      line-height: 1.715em;
      font-weight: 500;
      padding: 0.125rem 1rem 0;
      margin-bottom: 7px;
    }
  }

  .portfolio--token-balances {
    .q-item__label--header {
      display: none;
    }

    .q-list {
      border: none;
    }

    .q-scrollarea__thumb--v,
    ::-webkit-scrollbar-thumb {
      opacity: 0.35 !important;
    }
  }

  .attribute-wrapper--token-image {
    .q-avatar {
      font-size: 2.5rem !important;
    }
  }
}

.desktop.body--light .q-drawer .q-drawer__content {
  background-color: #141420;
}
