.tab--mobile-network {
  .no-pt {
    .stats-card {
      padding-top: 0;
    }
  }

  .stats-card {
    .q-card__section {
      padding: 0.5rem 1rem;
    }

    .stat-title {
      font-size: 0.75rem;
      color: #666666;
    }

    .stat-content {
      font-size: 1rem;

      .stat-unit {
        font-size: 0.75rem;
      }
    }

    .stat-footer {
      padding-top: 0.5rem;

      .stat-unit {
        font-size: 0.875rem;
      }
    }
  }

  .search-view-table {
    .q-table {
      thead tr,
      tbody.q-virtual-scroll__content td {
        padding: 0 0.5rem;
      }
    }

    .attribute-wrapper--address {
      span {
        inline-size: 160px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        //padding-top: 0.35rem;
        line-height: 1.25;
        height: 1rem;
        margin-top: 1px;
        font-size: 0.75rem;
      }
    }

    @media screen and (min-width: 400px) {
      .attribute-wrapper--address {
        span {
          inline-size: 180px;
        }
      }
    }

    @media screen and (min-width: 440px) {
      .attribute-wrapper--address {
        span {
          inline-size: 220px;
        }
      }
    }

    @media screen and (min-width: 500px) {
      .attribute-wrapper--address {
        span {
          inline-size: 280px;
        }
      }
    }

    @media screen and (min-width: 520px) {
      .q-table {
        thead tr,
        tbody.q-virtual-scroll__content td {
          padding: 0 1rem;
        }
      }

      .attribute-wrapper--address {
        span {
          inline-size: auto;
        }
      }
    }

    .attribute-wrapper--rewards-group {
      padding: 0.75rem 0;
      white-space: pre-wrap;

      > div {
        width: 100%;
      }
    }
    .attribute--blocks-produced {
      color: grey;
    }

    .attribute-wrapper--age {
      margin-left: 1rem;
    }

    //  Block rewards
    .attribute-wrapper--block-group {
      padding: 0.75rem 0;
      white-space: pre-wrap;

      .attribute-wrapper--address {
        inline-size: 100% !important;
        width: 100%;
      }
    }
  }
}
