.search-view-table {
  font-family: 'Roboto Mono', serif !important;

  &:before {
    height: 2rem;
  }

  .ago {
    display: none;
  }

  td {
    &:last-of-type {
      padding-right: 1rem !important;
    }

    &:first-of-type {
      padding-left: 1rem !important;
    }
  }

  @media screen and (min-width: 1440px) {
    .ago {
      display: inline-block;
    }
  }
}
