.layout--mobile {
  @import 'includes';
  @import 'pages';
  @import 'search';

  .search-filters {
    display: none !important;
  }

  .koiner-logo {
    position: absolute;
    left: 3.5rem;
    top: 0.3125rem;
  }

  .beta-chip {
    font-size: 0.5rem;
    height: 0.8rem;
    margin-bottom: 10px;
    padding: 0 0.4rem;
    left: 8rem;
    position: absolute;
    top: 8px;
  }

  .q-tab-panel {
    .q-space {
      display: none;
    }
  }

  .wildcard-search {
    width: 100% !important;
    display: block !important;
  }

  .mobile-tab-page {
    padding-top: 2rem;
    margin-top: 0.25rem;

    .q-tab {
      text-transform: none;
    }
  }

  .project-tag-button {
    height: 22px;
    min-height: 22px;

    .q-chip {
      font-size: 0.675rem !important;
    }
  }

  .q-list--bordered {
    border-right: 0;
    border-left: 0;
  }
}

@media (max-width: 599.98px) {
  .q-tooltip {
    font-size: 0.625rem;
    padding: 0.25rem 0.5rem;
  }
}

.q-dialog {
  .q-card.q-dark.project-card {
    background-color: $dark-page-3 !important;
    min-width: calc(100% - 2rem);
  }
}

/**
 V2
 */
//.mobile {
  .large-stats-cards .stats-card {
    border-radius: 0.75rem;
  }
//}
