.layout--mobile {
  @import 'includes';
  @import 'pages';
  @import 'search';

  .search-filters {
    display: none !important;
  }

  .koiner-logo {
    position: absolute;
    left: 4.5rem;
    top: 0;
  }

  .beta-chip {
    font-size: 0.5rem;
    height: 0.8rem;
    margin-left: 3.25rem;
    margin-bottom: 10px;
    padding: 0 0.4rem;
  }

  .q-tab-panel {
    .q-space {
      display: none;
    }
  }

  .wildcard-search {
    width: 100% !important;
    display: block !important;
  }

  .mobile-tab-page {
    padding-top: 2.25rem;

    .q-tab {
      text-transform: none;
    }
    .q-page-sticky {
      background: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

@media (max-width: 599.98px) {
  .q-tooltip {
    font-size: 0.625rem;
    padding: 0.25rem 0.5rem;
  }
}
